/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h1 {
  text-align: center;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size:50px;
}

.warning {
  color: #FF6868
}

.logo {
  width: 100px;
}

.slogan {
  height: 40px;
}

.home-button {
  width: 150px;
}
