.show-description h3 {
  font-family: 'Bad Script', cursive;
}

.show-description h4 {
  font-family: 'Raleway', sans-serif;
}

.show-description p {
  font-family: 'Raleway', sans-serif;
  padding-top: 25px;
}
